datastoreFe:
  imageTag: v35.0
  replicas: 3
  resources:
    requests:
      cpu: 100m
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "1Gi"
  healthChecks:
    livenessProbe:
      httpGet:
        path: /
        port: 8080
      initialDelaySeconds: 3
      periodSeconds: 3
      timeoutSeconds: 4
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /
        port: 8080
      initialDelaySeconds: 3
      periodSeconds: 3
      timeoutSeconds: 4
      failureThreshold: 3
    startupProbe:
      httpGet:
        path: /
        port: 8080
      initialDelaySeconds: 3
      periodSeconds: 3
      timeoutSeconds: 4
      failureThreshold: 3

configmap:
  backendEndpoint:
    http://datastore-backend-svc.backend.svc.cluster.local:8081



 
